* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

/* header */
header {
  max-width: 1280px;
  height: 78px;
  margin: auto;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 2fr 6fr 3fr;
  border-bottom: 2px #f3f0e9 solid;
}


/* logo */

.logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  overflow: hidden;
}

.logo-brand img {
  width: 62px;
  height: 58px;
}

.logo-brand div {
  box-sizing: border-box;
}

.logo-title h1 {
  width: 100%;
  height: 30px;
  color: #011847;
  font-family: "Lato", "ExtraBold";
  font-size: 32px;
  letter-spacing: 6.33px;
  border: 1px black solid;
  margin-bottom: 8px;
}

.logo-title h3 {
  width: 100%;
  height: 17px;
  color: #84bc22;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
  border: 1px black solid;
  line-height: 1px;
}

/* header hamburger */

.dropdown-hamburger {
  display: none
}

/* header nav */
nav {
  display: flex;
  justify-content: space-between;
  width: 590px;
  max-height: 54px;
  margin-left: auto;

  margin-top: auto;
  margin-bottom: auto;

}

nav:hover {
  border-radius: 5px;
  border: 1px #1aaa42 solid;
}

.nav-links,
.nav-currencies {
  display: flex;
  justify-content: space-evenly;
}

.nav-links li,
.nav-currencies li {
  list-style: none;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  text-align: center;

}

.nav-links {
  width: 75%;
}

/* nav-link dropdown icon */

.nav-links>li i {
  margin-left: 10%;
}

.nav-links>li {
  width: 25%;
}



.nav-currencies {
  width: 25%;
}

.nav-currencies>li {
  opacity: 0.5;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
}

/* nav-currencies dropdown icon */
.nav-currencies li i {
  margin-left: 5px;
}

/* header icons */

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons div {
  position: relative;
}

.icons div span {
  position: absolute;
  top: -8px;
  right: -5px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #84bc22;
  background-color: #ffffff;
  color: #8dc030;
  width: 15px;
  height: 15px;
  font-size: 10px;
}

/* sercives dropdown */

.services-link {
  position: relative;
}

.services-link:hover {
  background-color: #262a33;
  padding-bottom: 60px;
  cursor: pointer;
  color: #ffffff;

}

.services-dropdown {
  display: none;
}


.services-link:hover .services-dropdown {
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 50% 20% 30%;
  position: absolute;
  width: 1280px;
  height: 383px;
  background-color: #262a33;
  left: -383px;
  top: 50px;
  overflow: hidden;
  padding: 55px;


}

.services-dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-dropdown ul li {
  text-align: start;
}

.services-dropdown img {
  width: 271px;
  height: 276px;
}

.services-dropdown ul:first-child li:first-child {
  grid-area: product-categories;
}


.services-dropdown ul:first-child {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;

  grid-template-areas:
    "product-categories product-categories product-categories"

}

.services-dropdown ul:nth-child(2) {

  display: grid;
  grid-template-columns: 1fr;

}

h5 {
  width: 155px;
  height: 11px;
  color: #ffffff;
  font-family: "Lato - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: #ffffff
}

/* ------- footer ----- */

footer {
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr;
  max-height: 345px;
  padding-top: 35px;


}


footer section {
  color: #45413e;
  font-family: "Lato";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

footer li {
  list-style-type: none;
}

footer .categories .main-titles {
  grid-area: categories;
}

footer .categories {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas:
    "categories categories categories";
}



footer i {
  color: #B2B2B2;
  width: 16px;
  height: 18px;
}

footer .social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}



footer ul {
  margin: 0;
}

footer li a {
  opacity: 0.7;
  color: #45413e;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 31px;
}

footer .main-titles {

  color: #333333;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

/* -----media queries----- */

/* ----for mobile--- */

@media screen and (max-width: 768px) and (min-width: 320px) {

  header .logo-brand .logo-title,

  nav,
  footer {
    display: none;
  }

  header {
    display: flex;

  }



  .dropdown-hamburger {
    display: flex;
    font-size: 38px;
    /* overflow: auto; */
    color: #262A33;
    align-items: center;
    padding-left: 2%;
    flex-basis: 42%;
    position: relative
  }

  .nav-links-mobile {
    display: none;
  }

  .dropdown-hamburger:hover .nav-links-mobile {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35px;
    left: -10px;

  }

  .nav-links-mobile>li {
    list-style: none;
    font-size: 20px;
  }

  .icons {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: #262A33;

  }

  .icons div span {
    background-color: #8F9297
  }




}