* {

    box-sizing: border-box;

}

body {
    margin-top: 0px;
    padding: 0px;
    overflow: scroll;

}

/* header */
header {
    max-width: 1280px;
    width: auto;
    height: 78px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-rows: 1;
    grid-template-columns: 2fr 6fr 3fr;
    border-bottom: 2px #f3f0e9 solid;
}


/* logo */

.logo-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    overflow: hidden;
}

.logo-brand img {
    width: 62px;
    height: 58px;
}

.logo-brand div {
    box-sizing: border-box;
}

.logo-title h1 {
    width: 100%;
    height: 30px;
    color: #011847;
    font-family: "Lato";
    font-size: 32px;
    letter-spacing: 6.33px;

    margin-bottom: 8px;
    /* font-weight: bold; */
}

.logo-title h3 {
    width: 100%;
    height: 17px;
    color: #84bc22;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    text-align: center;

    line-height: 1px;
}

/* header hamburger */

.x-hamburger {
    display: none
}

/* header nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    max-height: 54px;
    margin-left: auto;
}

nav:hover {
    border-radius: 5px;
    border: 1px #1aaa42 solid;
}

.nav-currencies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-currencies li {
    list-style: none;
    color: #45413e;
    font-family: Lato;
    font-size: 14px;
    text-align: center;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.nav-currencies {
    width: 25%;

}

.nav-currencies>li {
    opacity: 0.5;
    color: #45413e;
    font-family: Lato;
    font-size: 14px;
}

/* nav-currencies dropdown icon */
.nav-currencies li i {
    margin-left: 5px;
}




/* navigation links */
.nav-links {
    width: 75%;
    display: flex;
    flex-direction: row;

}

.nav-links>div {
    color: #45413e;
    font-family: Lato;
    font-size: 14px;
    height: 54px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
}


/* dropdown */


.nav-links-l-II {
    display: none;
}

.active-level-I {
    display: grid;
    grid-template-columns: 50% 25% 35%;
    position: absolute;
    max-width: 1280px;
    height: auto;
    background-color: #262a33;
    top: 66px;
    padding: 55px;
    z-index: 1;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}



.nav-links .dropdown-level-II>div:first-child {
    grid-area: product;
    font-size: 16px;

}



.nav-links .active-level-I .dropdown-level-II:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'product product product';

}

.nav-links .dropdown-level-II:nth-child(2) {}



.nav-links i {
    display: none;
}

.nav-links>div:first-child>i:first-child {
    display: inline;
}

.nav-links>div:first-child:hover {
    background-color: #262a33;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    cursor: pointer;

}



/* header social icons */

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons div {
    position: relative;
}

.icons div span {
    position: absolute;
    top: -8px;
    right: -5px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #84bc22;
    background-color: #ffffff;
    color: #8dc030;
    width: 15px;
    height: 15px;
    font-size: 10px;
}


header a {
    text-decoration: none;
    color: #ffffff
}







/* ------- 404 ----- */


main {
    height: 711px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    margin: auto;
    background-color: #f1edea;

}

main>div {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 1170px;
    height: 492px;
    background-color: #ffffff;


}

/* oops div */

main div div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #84bc22;
    font-family: "Lato";
    font-size: 113px;
    font-weight: 900;
}

main div div:nth-child(2) {

    padding-right: 100px;
    padding-bottom: 64px;
}

main div div:nth-child(2) h2 {
    color: #000000;
    font-family: "Lato";
    font-size: 24px;
    margin-top: 67px;


}

main p {
    width: 546px;
    height: 99px;
    color: #555555;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 20px;


}

main a {
    color: #84bc22;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}


main .search-bar {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 567px;
    height: 36px;
    border: 2px solid #e8e2d6;
    border-radius: 50px;


}

main .search-bar input {
    /* background-color: red; */
    width: 98%;
    /* border-color: transparent; */
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: transparent;
    padding-left: 2%;
}

main .search-bar img {
    object-fit: contain;
    margin-right: 5px;
}



/* ------- footer ----- */

footer {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    max-height: 345px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;

}


footer section {
    color: #45413e;
    font-family: "Lato";
    font-size: 13px;
    /* font-weight: 400; */
    line-height: 18px;
}



footer section p {
    margin-bottom: 0px;
    margin-top: 0px;
}

footer section:nth-child(2) div:nth-child(1) {
    margin-top: 30px;
}

footer section:nth-child(2) div:nth-child(2) p:nth-child(3),
footer section:nth-child(2) div:nth-child(2) p:nth-child(4) {
    margin-top: 10px;
}



footer li {
    list-style-type: none;
}


.main-titles {
    height: 40px;
}

footer .categories {
    display: flex;
    flex-direction: column
}

footer .categories ul {
    display: grid;
    grid-template-rows: 8fr;
    grid-template-columns: repeat(3, 1fr);
}



footer i {
    color: #B2B2B2;
    width: 16px;
    height: 18px;
}

footer .social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}



footer ul {
    margin: 0;
}

footer li a {
    opacity: 0.7;
    color: #45413e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 31px;
}

footer .main-titles {
    color: #333333;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

footer .main-titles i {
    display: none;
}

footer div ul {
    padding-left: 0px;
}

/* -----media queries----- */

/* ----for mobile--- */

@media screen and (max-width: 768px) and (min-width: 320px) {
    body {
        margin: 0px;
    }

    /* non-displaying the elements */
    header .logo-brand .logo-title,
    .nav-links,
    .nav-currencies,
    .nav-links img,
    .dropdown-level-III {
        display: none;
    }

    nav {
        position: absolute;
        top: 0;
        width: 100vw
    }

    header {
        display: flex;
    }


    .logo-brand {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: 40%;
        margin-right: 40%;
    }

    .logo-brand img {
        position: absolute;
    }








    /* dropdown icon */
    .x-hamburger {
        display: flex;
        position: relative;

    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 50px;
        position: relative;
    }

    .line {
        position: absolute;
        height: 5px;
        width: 70%;
        background: black;
        border-radius: 8px;
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    }

    .top {
        top: 18%;
    }

    .middle {
        top: 48%;
    }

    .bottom {
        top: 78%;
    }

    .icon.close .top {
        transform: rotate(45deg);
        top: 48%;
    }

    .icon.close .middle,
    .icon.close .bottom {
        transform: rotate(-45deg);
        top: 48%;
    }


    /* dropdown nav - level one */
    .nav-mobile-links {
        display: flex;
        flex-direction: column;
        min-height: 190px;
        height: auto;
        position: absolute;
        min-width: 100vw;

        background-color: #262a33;
        top: 78px;
        padding: 4%;
        z-index: 1;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-mobile-links>.dropdown-level-I {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        min-height: 40px;
        height: auto;
        width: auto;
    }

    .nav-mobile-links>.dropdown-level-I>div:first-child {
        display: flex;
        justify-content: space-between;
    }

    .nav-links.nav-mobile-links * {
        color: white
    }

    .nav-links.nav-mobile-links i {
        display: inline
    }

    /* dropdown - level II */

    .active-mobile-II {
        display: flex !important;
        flex-direction: column;
        max-width: 60vw;
        height: auto;
    }

    .active-mobile-II .dropdown-level-II {
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 4%
    }

    .active-mobile-II .dropdown-level-II>div:first-child {
        display: flex;
        justify-content: space-between;

    }


    /* dropdown - level three */


    .active-mobile-III {
        display: inline;
        padding-left: 4%
    }


    /* nav-icons */

    .icons {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 70px;
        background-color: #262A33;

    }

    .icons div span {
        background-color: #8F9297
    }


    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        padding-right: 1%
    }

    footer .contact-details,
    footer .categories .categories-links,
    footer .about-links {
        display: none;
    }



    footer .main-titles i {
        display: inline;

    }

    footer .main-titles {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    /* for footer dropdown */
    .active-footer {

        display: grid !important;
        padding-bottom: 5%
    }

    /* for dropdown arrow */

    .rotate {
        transform: rotate(180deg);
    }





}

/* ----for mobile--- */

@media screen and (min-width: 768px) and (max-width: 1280px) {
    header {
        width: auto
    }

    nav {
        display: none;
    }



    .footer {}
}