<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Project</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/18bcf63516.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="dropdown-hamburger"><i class="fas fa-bars"></i>
        </div>
        <div class="logo-brand">
            <img src="/Images/logo.png" alt="logo-brand">

            <div class="logo-title">
                <h1>OSF</h1>
                <h3>Academy</h3>
            </div>
        </div>

        <nav>
            <ul class="nav-links">

                <li class="services-link">SERVICES <i class="fas fa-caret-down"></i>
                    <div class="services-dropdown">
                        <ul>
                            <li>
                                PRODUCT CATEGORIES
                            </li>
                            <li><a href="#">Accesories</a></li>
                            <li><a href="#">Alcohol</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Drink</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Flowers & Plants</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Garden</a></li>
                            <li><a href="#">Grocery</a></li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Jewelry</a></li>
                            <li><a href="#">Kids & Baby</a></li>
                            <li><a href="#">Men's Fashion</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Motorcycles</a></li>
                            <li><a href="#">Movies</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Pets</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Pets</a></li>
                            <li><a href="#">Romantic</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Toys</a></li>
                        </ul>
                        <ul>
                            <li> SALE </li>
                            <li><a href="#">Accesories</a></li>
                            <li><a href="#">Alcohol</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Drink</a></li>
                            <li><a href="#">Electronics</a></li>
                            <li><a href="#">Flowers & Plants</a></li>
                            <li><a href="#">Food</a></li>
                        </ul>
                        <img src="/Images/dropdown-img.png" alt="">
                    </div>
                </li>

                <li>COMPANY</li>
                <li>LIBRARY</li>
                <li>CONTACT US</li>
            </ul>
            <ul class="nav-currencies">
                <li>EN <i class="fas fa-caret-down"></i></li>
                <li>&dollar; US <i class="fas fa-caret-down"></i></li>
            </ul>
        </nav>
        <div class="icons">
            <img src="/Images/search.png" alt="searc-icon">
            <img src="/Images/login.png" alt="login-icon">
            <div><img src="/Images/heart.png" alt="heart-icon">
                <span>1</span>
            </div>
            <div><img src="/Images/bag.png" alt="bag-icon">
                <span>1</span>
            </div>
        </div>
    </header>

    <main>
        <div>
            <div>
                Oops!
            </div>
            <div>
                <h2>Sorry, this page could not be found!</h2>
                <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. <br></br>

                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. </p>
                <a href="">Go back to Homepage</a>
                <h2>Search our site</h2>
                <div class="search-bar"><input type="text" placeholder="SEARCH" /> <img src="/Images/search.png"
                        alt="searc-icon">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <section>
                <p>&copy; Copyright 2020</p>
                <p>All Rights Reserved</p>
            </section>

            <section>
                <div class="main-titles">CONTACT</div>
                <p>Headquarters</p>
                <p>5600, Blvd. de Galeries, Bur 530</p>
                <p>Quebec, Quebec G2K 2H6</p>
                <p>contact@osf-global.com</p>
                <p>+1(888)548-4344</p>
            </section>
        </div>

        <div>
            <ul class="categories">
                <li class="main-titles">CATEGORIES</li>
                <li><a>Alcohol</a></li>
                <li><a>Art</a></li>
                <li><a>Books</a></li>
                <li><a>Drink</a></li>
                <li><a>Eletronics</a></li>
                <li><a>Home</a></li>
                <li><a>Jewelry</a></li>
                <li><a>Kids & Baby</a></li>
                <li><a>Men's Fashion</a></li>
                <li><a>Mobile</a></li>
                <li><a>Motorcycles</a></li>
                <li><a>Movies</a></li>
                <li><a>Music</a></li>
                <li><a>Sport</a></li>
                <li><a>Torys</a></li>
                <li><a>Travel</a></li>
            </ul>
        </div>


        <div>
            <ul class="about">
                <li class="main-titles">ABOUT</li>
                <li><a>About us</a></li>
                <li><a>Deliveries</a></li>
                <li><a>Testimonials</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
        <div class="social-media">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><img src="/Images/g+.png" alt=""></a>
            <a href=""> <i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-pinterest"></i></a>

        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="index.js"></script>
</body>

</html>