* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

body {
  margin-top: 0px;
  padding: 0px;
  overflow: scroll;
}

/* the big container */

.container {
  position: relative;
  max-width: 1280px;
  width: auto;
  margin: auto;
}

/* header */
header {
  max-width: 1280px;
  width: auto;
  height: 78px;
  margin: auto;
  display: grid;
  align-items: center;
  background-color: #fff;
  grid-template-rows: 1;
  grid-template-columns: 2fr 6fr 3fr;
  border-bottom: 2px #f3f0e9 solid;
}

/* logo */

.logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  overflow: hidden;
}

.logo-brand img {
  width: 62px;
  height: 58px;
}



.logo-title h1 {
  width: 100%;
  height: 30px;
  color: #011847;
  font-family: "Lato";
  font-size: 32px;
  letter-spacing: 6.33px;

  margin-bottom: 8px;
  /* font-weight: bold; */
}

.logo-title h3 {
  width: 100%;
  height: 17px;
  color: #84bc22;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;

  line-height: 1px;
}

/* header hamburger */

.x-hamburger {
  display: none;
}

/* header nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 590px;
  max-height: 54px;
  margin-left: auto;
}

nav:hover {
  border-radius: 5px;
  border: 1px #1aaa42 solid;
}

.nav-currencies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-currencies .currencies,
.nav-currencies .lang {
  display: none;
}


.nav-currencies .active-cur-lang {
  display: flex !important;
  position: absolute;
  background-color: #262A33;
  flex-direction: column;
  left: 0px;
  top: 44px;
  padding-left: 0px;
  border-radius: 5px;

}

.active-cur-lang li {
  width: inherit;
  white-space: nowrap;
  color: #fff !important;
  width: 60px
}

.nav-currencies li {

  list-style: none;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  height: 54px;
  width: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10%;
  white-space: nowrap;
}

.nav-currencies li:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #262A33;
  color: #fff;
  border-radius: 5px;
}

.nav-currencies {
  width: 25%;
}

.nav-currencies>li {
  position: relative;
  opacity: 0.5;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;

}
/* nav-currencies dropdown icon */
.nav-currencies li i {
  margin-left: 5px;
}

/* navigation links */
.nav-links {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.nav-links>div {
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  height: 54px;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
}

/* dropdown */

.nav-links-l-II {
  display: none;
}

.active-level-I {
  display: grid;
  grid-template-columns: 50% 25% 35%;
  position: absolute;
  max-width: 1280px;
  height: auto;
  background-color: #262a33;
  top: 66px;
  padding: 55px;
  z-index: 1;
  color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav-links .dropdown-level-II>div:first-child {
  grid-area: product;

}



.nav-links .active-level-I .dropdown-level-II:first-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "product product product";
  /* justify-content: space-between; */
}


.nav-links i {
  display: none;
}

.dropdown-level-I:first-child>div:first-child i {
  display: inline;
  margin-left: 10px
}



.nav-links>div:first-child:hover {
  background-color: #262a33;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.dropdown-level-II div:first-child {
  height: 20px;
  font-size: 20px;
}

.dropdown-level-II div {
  margin-bottom: 15px;
}

.dropdown-level-II:nth-child(2) {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* header social icons */

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

.icons img:hover {

  cursor: pointer;
  opacity: 0.7;
}

.icons div {
  display: flex;
  position: relative;
}

.icons div span {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #84bc22;
  background-color: #ffffff;
  color: #8dc030;
  width: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: 800;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

/* ------ login ----- */
.login-box {
  display: none;
}

.active-login-box {
  display: block;
  position: fixed;
  padding: 10%;
  z-index: 1;
  background-color: rgba(216, 224, 219, 0.7);
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden !important;
  bottom: 0;
}



.login i {

  color: #45413e;
  right: 0;
}

.login-box .login-exit {
  position: absolute;
  right: 25%;
  top: 11%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 467px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 5px;
}

.login h2 {
  color: #45413e;
  font-family: "Lato";
  font-size: 30px;
  margin-top: 58px;
  margin-bottom: 53px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

form div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form div:nth-child(2) div span {
  color: #84bc22;
  font-size: 12px;
  letter-spacing: 0.6px;
}

form label {
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

form input {
  width: 95%;
  height: 90%;
  border: none;
  outline: none;
}

form .pass {
  width: 390px;
  height: 36px;
  border: 2px solid #d7d7d7;
  border-radius: 50px;
  padding-left: 10px;
  outline: none;
  padding-right: 8px;
}

.pass i {
  color: #d7d7d7;
}

form a {
  color: #84bc22;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-decoration: none
}

form button {
  width: 181px;
  height: 36px;
  border: 2px solid #84bc22;
  background-color: #84bc22;
  border-radius: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 24px;
}

/* -----cookies dialog ----- */

.active-cookie-dialog {
  display: block;
  position: fixed;
  z-index: 9;
  border-radius: 5px;
  padding: 1%;
  background-color: #fff;
  bottom: 7%;
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
}

.cookie-dialog {
  visibility: hidden;
}

.active-cookie-dialog>div {
  display: flex;
  justify-content: space-between;
}

.active-cookie-dialog h5 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #84bc22;
}

.active-cookie-dialog button {
  font-family: Lato;
  border-radius: 20px;
  background-color: #84bc22;
  color: #fff;
  font-size: 14px;
  margin: auto;
  font-weight: 400;
  padding: 1% 4%;
  margin-right: 0px;
  margin-bottom: 0px;
}

.active-cookie-dialog p {
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  max-width: 75%;
  margin-bottom: 0px;
}

.active-cookie-dialog p span {
  color: #84bc22;
}

.active-cookie-dialog i {
  font-size: 28px;

}

/* Countdown */
.countdown-container {
  padding: 10%;
  background-color: #F1F1F1;
}

section .countdown {
  background-color: #fff;
  font-family: Lato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.countdown .counter {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}

.counter .time-division {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.counter .time-unit {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #F1F1F1;
  background-color: #fff;
  display: flex;
  font-weight: bolder;
  font-size: 36px;

  justify-content: center;
  align-items: center;
}

.countdown .registration {

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  border: 2px solid #F1F1F1;
  border-radius: 20px;

}

.countdown input {
  width: 90%;
  outline: none;
  border: none;

}

/* ------- footer ----- */

footer {
  overflow: overlay;
  max-width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  max-height: 345px;
  padding-top: 35px;
  padding-bottom: 50px;
  padding-left: 30px;
  background: #fff;
}

footer section {
  color: #45413e;
  font-family: "Lato";
  font-size: 13px;
  /* font-weight: 400; */
  line-height: 18px;
}

footer section p {
  margin-bottom: 0px;
  margin-top: 0px;
}

footer section:nth-child(2) div:nth-child(1) {
  margin-top: 30px;
}

footer section:nth-child(2) div:nth-child(2) p:nth-child(3),
footer section:nth-child(2) div:nth-child(2) p:nth-child(4) {
  margin-top: 10px;
}

footer li {
  list-style-type: none;
}

.main-titles {
  height: 40px;
}

footer .categories {
  display: flex;
  flex-direction: column;
}

footer .categories ul {
  display: grid;
  grid-template-rows: 8fr;
  grid-template-columns: repeat(3, 1fr);
}

footer i {
  color: #b2b2b2;
  width: 16px;
  height: 18px;
}

footer .social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer ul {
  margin: 0;
}

footer li a {
  opacity: 0.7;
  color: #45413e;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 31px;
}

footer .main-titles {
  color: #333333;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

footer .main-titles i {
  display: none;
}

footer div ul {
  padding-left: 0px;
}

footer a {
  text-decoration: none;
  color: #333333;
}

/* -----media queries----- */

/* ----for mobile--- */

@media screen and (max-width: 768px) and (min-width: 320px) {
  body {
    margin: 0px;
  }

  /* non-displaying the elements */
  header .logo-brand .logo-title,
  .nav-links,
  .nav-currencies,
  .nav-links img,
  .dropdown-level-III {
    display: none;
  }

  nav {
    position: absolute;
    width: 100vw;
  }

  nav:hover {
    border: none;
  }

  header {
    display: flex;
    background-color: #fff;
    border: none;
  }

  .logo-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 40%;
    margin-right: 40%;
  }

  .logo-brand img {
    position: absolute;
  }

  /* dropdown icon */
  .x-hamburger {
    display: flex;
    position: relative;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    position: relative;
  }

  .line {
    position: absolute;
    height: 5px;
    width: 70%;
    background: #262A33;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  }

  .top {
    top: 18%;
  }

  .middle {
    top: 48%;
  }

  .bottom {
    top: 78%;
  }

  .icon.close .top {
    transform: rotate(45deg);
    top: 48%;
  }

  .icon.close .middle,
  .icon.close .bottom {
    transform: rotate(-45deg);
    top: 48%;
  }

  /* dropdown nav - level one */
  .nav-mobile-links {
    display: flex;
    flex-direction: column;
    min-height: 190px;
    height: auto;
    position: absolute;
    min-width: 100vw;
    background-color: #262a33;
    top: 40px;
    padding: 4%;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-mobile-links>.dropdown-level-I {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 40px;
    height: auto;
    width: auto;
  }

  .nav-mobile-links>.dropdown-level-I>div:first-child {
    display: flex;
    justify-content: space-between;
  }

  .nav-links.nav-mobile-links * {
    color: white;
  }

  .nav-links.nav-mobile-links i {
    display: inline;
  }

  /* dropdown - level II */

  .active-mobile-II {
    display: flex !important;
    flex-direction: column;
    max-width: 60vw;
    height: auto;
    margin-top: 15px;
  }

  .active-mobile-II .dropdown-level-II {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
  }

  .active-mobile-II .dropdown-level-II>div:first-child {
    display: flex;
    justify-content: space-between;
  }


  .dropdown-level-II div:first-child {
    height: 20px;
    font-size: 14px;

  }

  /* dropdown - level three */

  .active-mobile-III {
    display: inline !important;
    padding-left: 4%;
  }

  /* nav-icons */

  .icons {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #8f9297;
  }

  /* ------ login ----- */

  .active-login-box {
    padding: 0%
  }

  .login-box .login-exit {
    position: absolute;
    right: 8% !important;
    top: 10% !important;
  }


  .login {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }

  .login h2 {
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 20px;
  }

  form>div {
    margin-bottom: 5px;
  }

  form button {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 30px;
  }



  form label {
    font-size: 13px;
  }



  form .pass {
    width: 250px;
  }


  /* Countdown */
  .countdown-container {
    max-width: 100vw;
    /* background-color: red; */
  }

  section .countdown {
    text-align: center;
    padding: 10px;

  }


  section .countdown h1 {
    font-size: 20px;
  }

  .countdown>div {
    font-size: 14px;
  }

  .countdown .counter {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: space-between;
  }

  .counter .time-division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .counter .time-unit {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    font-weight: bolder;
    font-size: 24px;
    justify-content: center;
    align-items: center;
  }

  .countdown .registration {
    width: 70%;
  }





  /* footer */

  /* footer */

  footer {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
  }

  footer .contact-details,
  footer .categories .categories-links,
  footer .about-links {
    display: none;
  }

  footer .main-titles i {
    display: inline;
  }

  footer .main-titles {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  /* for footer dropdown */
  .active-footer {
    display: grid !important;
    padding-bottom: 5%;
  }

  /* for dropdown arrow */

  .rotate {
    transform: rotate(180deg);
  }
}

/* ----for pad--- */

@media screen and (min-width: 768px) and (max-width: 1280px) {
  header {
    width: auto;
    display: grid;
    grid-template-columns: 20% 70%;
  }

  .active-level-I {
    display: grid;
    grid-template-columns: 40% 25% 30%;

  }

  .nav-links .dropdown-level-II>div:first-child {
    grid-area: product;

  }



  .nav-links .active-level-I .dropdown-level-II:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "product product";
    /* justify-content: space-between; */
  }


  /* nav-icons */

  .icons {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #8f9297;
  }

  /* ------ login ----- */


  .active-login-box {
    bottom: 50
  }

  .login-box .login-exit {
    position: absolute;
    right: 25%;
    top: 8%;
  }


  .login {
    width: 400px;
    height: 350px;

  }

  .login h2 {
    font-size: 28px;
    margin-top: 38px;
    margin-bottom: 20px;
  }

  form>div {
    margin-bottom: 5px;
  }

  form button {
    margin-top: 20px;
    margin-bottom: 5px;
    height: 30px;
  }



  form label {
    font-size: 13px;
  }



  form .pass {
    width: 300px;
  }



  .footer {}
}